.projects {
	width: 90%;
	margin: auto;
	min-height: 90vh;
	@include flex(space-between, center, column);
	text-align: center;
	flex-wrap: wrap;

	h2 {
		margin: 5rem;
	}

	button {
		padding: 1.5rem;
		border-radius: 10px;
		background-color: black;
		color: white;
		cursor: pointer;
		width: 30%;
		margin: 3rem auto 4rem auto;
		transition: all 0.3s;

		&:hover {
			transform: translateY(-5px);
		}

		a {
			color: white;
		}
	}
}

.travelly,
.elena,
.music-lyrics,
.weight-lifting {
	flex: 1 1 40rem;

	img {
		border-radius: 2rem;
		width: 100%;
		height: 100%;
	}
}
